body {
    background-color: #d6e5e9;
    font-family: "Asap Condensed", sans-serif;
    margin: 2em;
}

.title {
    font-size: 5em;
    text-align: center;
}

.searchPkmn {
    margin: 2em;
    font-size: 1.5em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.card {
    border: solid 3px #70c1df;
    border-radius: 3%;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.imgPkmn {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
}

.pkmnCard {
    background-color: #70c1df;
}

.namePkmn {
    margin: 0.5em;
    font-size: 1.5em;
}

/* PokemonInfo */

.titleForeignName {
    display: flex;
    justify-content: space-around;
}
.foreignName {
    font-size: 1.5em;
    font-weight: bold;
}
.container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sectionUp,
.sectionDown {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* border: 1px solid black; */
    /* height: 50%; */
}
.sectionUp {
    width: 55em;
    /* height: 60%; */
    position: absolute;
    top: 10em;
    justify-content: space-around;
}

.sectionDown {
    /* width: 55em; */
    /* height: 50%; */
    position: absolute;
    top: 33em;
}

.info {
    display: flex;
    flex-direction: row;
    order: 2;
    width: 27em;
    height: 10em;
    /* padding: 1em; */
    border: 2px solid black;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgEvoPkmn {
    width: 10%;
    height: 10%;
}

.statsP {
    margin: 2em;
}

.type {
    text-align: center;
    margin: 1em;
}

.articleLeft {
    /* border: 1px solid black; */
    width: 25em;

    /* height: 25em; */
    /* margin-left: 2em; */
}

.articleRight {
    /* border: 1px solid black; */
    width: 25em;
    /* margin: 1em 1em; */
}

.statsTitle,
.evolutionTitle {
    font-weight: bold;
    font-size: 1.5em;
}
.miniImg {
    display: flex;
    justify-content: space-around;
}

.statsPara {
    margin-top: 0.7em;
    margin-left: 0.7em;
}

.cardsEvo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.cardEvo {
    border: solid 3px #70c1df;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    box-shadow: 5px 5px 5px black;
    margin-top: 5em;
    flex-grow: 1;
}

.imgEvoPkmn {
    margin: auto;
    /* display: block; */
    width: 100%;
    height: 100%;
}
